<nav>
    <a href ='/'>Home</a>
    <% if (user) { %>
        <p>Hi <%= user.username %></p>
        <a href="/recipes/">Recipes</a>
        <a href="/ingredients/">Ingredients</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else {%>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <% } %>
</nav>