<nav>
    <a href ='/'>Home</a>
    <% if (user) { %>
        <p>Hi <%= user.username %></p>
        <a href="/users/<%user._id%>/applications">Applications</a>
        <a href="/recipes/">View My Recipes(user)</a>
        <a href="/">Sign Out</a>
    <% } else {%>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <a href="/recipes/index">View My Recipes(guest)</a>
    <% } %>
</nav>