<!-- views/recipes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Recipe</title>
    <script>
      window.onload = function() {
        const numberInput = document.getElementById('num');
        numberInput.addEventListener('input', createDropdowns);

        function createDropdowns() {
          const dropdownContainer = document.getElementById('numberOfIngredients');
          dropdownContainer.innerHTML = '';
          for (let i = 0; i < numberInput.value; i++) {
            const dropdown = document.createElement('select');
            dropdown.name = `ingredient${i + 1}`;
            // Loop through allIngredients array and create options
            const allIngredients = <%= allIngredients %>;
            allIngredients.forEach(ingredient => {
              const option = document.createElement('option');
              option.value = ingredient.name;
              option.text = ingredient.name;
              dropdown.appendChild(option);
            });
            dropdownContainer.appendChild(dropdown);
          }
        }
        createDropdowns();
      }
    </script>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1>Create Recipe</h1>
    <form action="/recipes" method="POST">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" placeholder="Required" required/>

      <label for="instructions">Instructions:</label>
      <input type="text" name="instructions" id="instructions" />

      <label for="num">Number of Ingredients:</label>
      <input type="number" name="num" id="num" value="1" min="1" required/>
      <div id="numberOfIngredients"></div>

      <button type="submit">Create Recipe</button>
    </form>
  </body>
</html>