<!-- views/recipes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Recipe</title>
  </head>
<body>
    <%- include('../partials/_navbar') %>
    <h1>Create Recipe</h1>
    <form action="/recipes" method="POST">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" placeholder="Required" required/>

      <label for="instructions">Instructions:</label>
      <input type="text" name="instructions" id="instructions" />

      <label for="owner">Owner:</label>
      <input type="ongoose.Schema.Types.ObjectId" name="name" id="name" placeholder="Required" required/>
     

      <label for="ingredients">Ingredients:</label>
      <input type="[mongoose.Schema.Types.ObjectId]" name="ingredients" id="ingredients"/>
  
      <button type="submit">Add Recipe to Database</button>
    </form>

 


    <script>
    
        
    </script>
  </body>
</html>
