<!-- views/recipes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Recipe</title>
  </head>
<body>
    <%- include('../partials/_navbar') %>
    <h1>Create Recipe</h1>
    <form action="/recipes" method="POST">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" placeholder="Required" required/>
      <label for="instructions">Instructions:</label>
      <input type="text" name="instructions" id="instructions"/>
      <button type="submit">Add Recipe to Database</button>
    </form>
  <% console.log(ingredientsData); %>
  <% console.log(ingredientsData.length); %>
  <% if (ingredientsData.length === 0) { %>
      <h2>You have not added any ingredients yet.</h2>
  <% } %>
  <label for="num">Select Ingredients:</label>
  <input type="text" name="num" id="num" placeholder="Enter # of ingredients" min="1" required>  
  <div id="dropdown-div"></div>
  <button id="add-dropdown-button">Add</button> 
  <script type="text/javascript">
  console.log("Running script...")
  function createDropdowns() {
    console.log("Creating Dropdowns...")
    const dropdownContainer = document.getElementById('dropdown-div');
    dropdownContainer.innerHTML = '';
    for (let i = 0; i < numberInput.value; i++) {
      const dropdown = document.createElement('select');
      dropdown.name = `ingredient${i + 1}`;
      // Loop through ingredientsData array and create options
      const listIngredients = <%= JSON.stringify(ingredientsData) %>;
      //listIngredients = [1,2,3,4];   **IF I REMOVE ANY REFERENCE TO ingredientsDATA and USE this array, the dropdowns will appear but I cannot populate them with the ingredientsData
      listIngredients.forEach(ingredient => {
        const option = document.createElement('option');
        option.value = 1;//Should be ingredient.name (or ingredient._id)
        option.text = 1; //Should be ingredient.name
        dropdown.appendChild(option);
      });
    dropdownContainer.appendChild(dropdown);
    }
  }
      const numberInput = document.getElementById('num');
      let button = document.getElementById("add-dropdown-button");
      button.addEventListener("click", createDropdowns);
  </script>
  </body>
</html>
