<!-- views/recipes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Recipe</title>
  </head>
<body>
    <%- include('../partials/_navbar') %>
    <h1>Create Recipe</h1>
    <form action="/recipes" method="POST">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" placeholder="Required" required/>

      <label for="instructions">Instructions:</label>
      <input type="text" name="instructions" id="instructions" />
      <button type="submit">Add Recipe to Database</button>
    </form>
    <% console.log(allIngredients); %>
    <% console.log(allIngredients.length); %>
    <% if (allIngredients.length === 0) { %>
        <h2>You have not added any ingredients yet.</h2>
    <% } %>
    <label for="num">Select Ingredients:</label>
    <div id="numberOfIngredients"></div>
    <input type="text" name="num" id="num" placeholder="1" required>
    
   
      

    
    <button onclick="addDropdowns(num,<%= allIngredients%>)">Add</button>
    <% allIngredients.forEach(function(ingredient) { %>
          <h3><%= ingredient.name %></a></h3>
    <% }); %>
<% console.log("typeOf: ", typeof allIngredients, "typeof all Ingredients.name", typeof allIngredients.name); %>


  </body>
  <script>
    function addDropdowns(numIngredients, allIngredients) {
      console.log("numIngredients: ", numIngredients, allIngredients);
   
      let ingredientDropdowns = numIngredients;
      ingredientDropdowns.innerHTML = '';
      
      numberOfIngredients = parseInt(this.value);
      
      for (let i = 0; i < numberOfIngredients; i++) {
      let dropdown = document.createElement('select');
      dropdown.name = 'ingredient-' + i;
      dropdown.id = 'ingredient-' + i;
      allIngredients.forEach(ingredient => {
        let option = document.createElement('option');
        option.value = ingredient.name;
        option.text = ingredient.name;
        dropdown.appendChild(option);
      });
      ingredientDropdowns.appendChild(dropdown);
      }
    }
  
      </script>

</html>
